<form action="/mindquest/student/subject/challenge/<%= subject.id %>" method="POST">
  <% subject.Challenges.forEach((challenge, index)=> { %>
    <div style="margin-bottom: 20px;">
      <p><strong>
        <%= index + 1 %>. <%= challenge.question %>
      </strong></p>

      <label>
        <input type="radio" name="answers_<%= challenge.id %>" value="A">
        A. <%= challenge.optionA %>
      </label><br>

      <label>
        <input type="radio" name="answers_<%= challenge.id %>" value="B">
        B. <%= challenge.optionB %>
      </label><br>

      <label>
        <input type="radio" name="answers_<%= challenge.id %>" value="C">
        C. <%= challenge.optionC %>
      </label><br>

      <label>
        <input type="radio" name="answers_<%= challenge.id %>" value="D">
        D. <%= challenge.optionD %>
      </label>
    </div>
  <% }) %>

  <button type="submit" class="btn btn-primary">Kirim Jawaban</button>
</form>
